@charset "utf-8";
/* CSS Document */
.mr-cont {
	padding-top: 30px;
	height: 600px;
	width: 800px;
	margin: 0 auto;
	background: url(../img/bg.jpg)
}
.mr-cont>div {
	margin-left: 50px;
}
.cont {
	height: 230px;
}
.cont span, .cont textarea {
	margin-top: 20px;
	display: block;
	float: left;
}
.btn {
	text-align: center;
}
.date {
	width: 650px;
	height: 40px;
	text-align: right;
}
#saw {
	height: 140px;
	width: 600px;
	display: none;
	margin-left: 100px;
}
[type="text"] {
	width: 604px;
}
textarea {
	height: 150px;
	width: 600px;
}
label {
	display: block;
	margin-top: 10px;
	vertical-align: text-top;
}
