@charset "utf-8";
/* CSS Document */
.mr-cont{
	width: 800px;
	margin: 0 auto;
	background: url(../img/bg.jpg);
	border: 1px solid #f00;
}
h3{
	text-align: center;
}
.mr-cont>div{
	margin-left: 40px;
}
.readd span{
	line-height: 40px;
}
#result{
text-align: center;
}
#result{
	height: 150px;
	width: 710px;
	border: 1px solid #000;
	font-size: 18px;
	background: #fff;
}

img{
	margin-top: 10px;
	height: 130px;
	width:300px;
	
	}
.btn{
	margin:20px 60px;
	position: relative;
}
[type="file"]{
	position: absolute;
	left: 154px;
	opacity: 0;
	width: 75px;
	font-size: 18px;
}
[type="button"]{
	margin-left: 150px;
	background: rgba(255,255,255,0);
	border: #eff5fb;
	text-decoration: underline;
	color: #fff;
	font-size: 18px;
}

