table {
    margin:0 auto;
    width: 800px;
    height: 300px;
    border-collapse: collapse;
}
table th {
    border: 1px solid #069;
}
body {
    text-align: center;
}
h1 {
    font-family: "微软雅黑", Verdana, sans-serif, "宋体";
    color: #666;
    font-weight: bold;
    margin-bottom: 30px;
}