@charset "utf-8";
/* CSS Document */
.wrap {
	width: 1010px;
	height: 300px;
	margin: 0 auto;
	background:rgba(237,168,244,0.5)
}
h3{
	padding: 20px 20px 0;
}
/*图片大小和外边距*/
.phone img{
	height: 220px;
	width: auto;
	margin-left: 26px;  /*外边距*/
}
/*鼠标滑过时，图片向左移动*/
div img:hover {
	transform: translateX(-20px);
	transition: 1s all ease;
}
