@charset "utf-8";
.mr-content{ width:508px; height:388px; background:url(4-11.png) no-repeat;}
.mr-content .mr-county{ margin:50px 0 0 96px;}
.mr-content .mr-mobile{ margin:170px 0 0 96px;}
.mr-content .mr-telephone{ margin:15px 0 0 96px;}/

