@charset "utf-8";
/* CSS Document */

.mr-cont{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background: url(../img/bg.jpg)
/*	background: url(../img/bg.jpg);*/
}
h4{
	padding:40px 0 10px 30px;
	margin-left: 40px
}
.mr-head{
	height: 422px;
	width: 554px;
	padding: 30px 0 0 50px;
	margin-left: 130px;
	background: rgb(230,230,230);
}
.myhead{
	float:left;
	margin-right: 20px;
}
.mess > :first-child{
	font-size: 24px;
/*	line-height: 40px;*/
	font-weight: bolder
}
.mess img{
	width:50px;
	vertical-align:middle;
}
.mess div{
	font-size: 12px;
}
.mess span{
	display: block;
	font-size: 12px;
	font-weight: bolder
}
.pic img{
	height: 120px;
	width: 120px;
	margin-left: 10px;
}
.pic>:first-child{
	float:left;
}
.btn{
	margin-top: 30px;
	position: relative;
}
.btn input{
margin-left: 60px;
}

[type="file"]{
	position: absolute;
	top:0;
	left:0px;
	width: 70px;
	opacity: 0;
}
[type="button"]{
	height: 25px;
	width: 70px;
}

